.main-container {
     float: left;
     position: relative;
     left: 50%;
   }
 .sub-container {
   float: left;
   position: relative;
   left: -50%;
 }

 /* You can add global styles to this file, and also import other style files */
